section.password-wrapper {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    min-height: 500px;
    justify-content: center;
}

label[for="pv_page_password"] {
    font-weight: 700;
    display: block;
}

#pv_submit {
    display: block;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    min-width: 250px;
    cursor: pointer;
}

#pv_page_password {
    min-width: 250px;
}